/*
  EventCard.css

  This file styles the GeoGoHub event card component.

  Responsibilities:
  - Separate each event visually.
  - Improve event information readability.
  - Add consistent spacing around event content.

  Author: Shorena K. Anzhilov
  Course: CS 5610 Web Development
  Project: GeoGoHub
*/

article {
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  text-align: left;
}

article h3 {
  margin-top: 0;
}

article p {
  margin: 0.5rem 0;
}
